<h1><%= @cake.name %></h1>
<p><%= @cake.description %></p>

<% if @cake.image.present? %>
  <%= image_tag @cake.image, alt: @cake.name %>
<% end %>

<p>Price: $<%= number_to_currency(@cake.price) %></p>
<p>Taste: <%= @cake.taste %></p>
<p>Overall Rating: <%= @cake.overall_rating %></p>

<h2>Ratings and Comments</h2>
<% @ratings.each do |rating| %>
  <div>
    <strong>User: <%= rating.user.username %></strong><br>
    Price Rating: <%= rating.price_rating %><br>
    Taste Rating: <%= rating.taste_rating %><br>
    Overall Rating: <%= rating.overall_rating %><br>
    Comment: <%= rating.comment %>
  </div>
  <hr>
<% end %>

<%= link_to 'Back to Mince cakes', cakes_path %>
